body {
    font-family:"Helvetica";
    background-color: #eee;
}

div {
    float: left;
    clear:both;
}

div.messages {
    border: 1px solid red;
    width:500px;
    height:500px;
    float:left;
}

div#graph {
    width:650px;
    height:500px;
    float:left;
    margin-left: 20px;
}

div#chart {
    width: 800px;
    height: 500px; /* doesn't matter */
}

label {
    width: 100px;
    border; 1px solid red;
}

svg {
    border: 1px solid black;
}

.chart {
    fill: steelblue;
    stroke: white;
    margin: 20px;
}

line {
    stroke: #bbb;
}

path {
    stroke: steelblue;
    stroke-width: 1px;
    fill:none;
}

text {
    color: black;
}

.tick {
    color: red;
}

.o2 {
    stroke: blue;
}

.vodafone {
    stroke: red;
}
