body {
    font-family:"Helvetica";
    background-color: #eee;
}

div {
    float: left;
    clear:both;
}

div.messages {
    border: 1px solid red;
    width:500px;
    height:500px;
    float:left;
}

div#graph {
    width:650px;
    height:500px;
    float:left;
    margin-left: 20px;
}

div#chart {
    width: 800px;
    /* height: 500px; /* doesn't matter */ */
    /* border: 1px solid red; */
}

#leader {
    color: #00aa00;
}

#votes {
    color: #00aa00;
}

#chart rect {
    stroke: black;
    fill: steelblue;
}

.large {
    font-weight:bold;
    font-size:8em;
}

label {
    width: 100px;
    border; 1px solid red;
}

svg {
    /* border: 1px solid #ccc; */
}

text {
    font-family: Helvetica;
}

text.candidates {
    fill: black;
    /* stroke: black; */
    font-size:30px;
    /* stroke-width:2px; */
}

text.votes {
    fill: black;
    stroke: black;
    font-size:30px;
    stroke-width:1px;
}

.chart {
    fill: steelblue;
    stroke: white;
    margin: 20px;
}

line {
    stroke: #bbb;
}

path {
    stroke: steelblue;
    stroke-width: 1.5px;
    fill:none;
}

text {
    color: black;
}

.tick {
    color: red;
}

.uk_o2 {
    stroke: #419EDA;
}

.uk_orange {
    stroke: #ff7f00;
}

.uk_vodafone {
    stroke: #ff0000;
}

.uk_tmobile {
    stroke: #E10174;
}

.uk_three {
    stroke: #CADB2A;
}
