body {
    font-family:"Helvetica";
    background-color: #eee;
}

div {
    float: left;
    clear:both;
}

div.messages {
    border: 1px solid red;
    width:500px;
    height:500px;
    float:left;
}

div#graph {
    width:650px;
    height:500px;
    float:left;
    margin-left: 20px;
}

.chart {
    fill: steelblue;
    stroke: white;
    margin: 20px;
}

text {
    color: black;
}
