body {
    font-family:"Helvetica";
    background-color: #eee;
}

div {
    float: left;
    clear:both;
}

div.messages {
    border: 1px solid red;
    width:500px;
    height:500px;
    float:left;
}

div#graph {
    width:650px;
    height:500px;
    float:left;
    margin-left: 20px;
}

div#chart {
    border: 1px solid red;
}

.chart {
    fill: steelblue;
    stroke: white;
    margin: 20px;
}

line {
    stroke: #bbb;
}

path {
    stroke: steelblue;
    stroke-width: 3px;
    fill:none;
}

text {
    color: black;
}

.tick {
    color: red;
}
